// Navigation Styles here

nav {
  padding: 20px 0;
  margin-top: 30px; 
  border-bottom: 2px dashed @navigation-border;
  .custom-layout(@justify:flex-start, @align:center);
  @media @mobile {
    flex-direction: column;
    padding: 0;
  }

  h1 {
    margin-left: 30px;
    @media @mobile {
      margin: 0;
    }
  }

  div {
    width: 70%;
    .custom-layout(@justify:flex-end, @align:center);
    @media @mobile {
      width: 90%;
      justify-content: center;
      padding:2% 0;
    }

    a {
      text-decoration: none;
      color: black;
      font-size: 1.6rem;
      padding-left: 30px;
      @media @mobile {
        padding-right: 30px;
      }
    }
  }
}
